# Boilerplate
__pycache__/
_archive/
_dev/
.idea/
build/
dev/
dist/
ignored/
output/
*~$*
*.DS_Store
*.egg-info
*.swp
tags
MANIFEST

# Custom
/*.json
cache/*
!cache/.keep
value_set_vsac_to_json/data/cache/*
!value_set_vsac_to_json/data/cache/.keep
/env/*
!/env/.env.example
