[submodule "termhub-csets"]
	path = archived/termhub-csets
	url = git@github.com:jhu-bids/termhub-csets.git
	branch = main
	update = merge
[submodule "frontend/src/supergroup"]
	path = frontend/src/supergroup
	url = https://github.com/jhu-bids/supergroup.git
[submodule "termhub-vocab"]
	path = archived/termhub-vocab
	url = git@github.com:jhu-bids/termhub-vocab.git
	branch = main
	update = merge
