# Boilerplate
__pycache__/
_archive/
_dev/
.idea/
build/
dev/
dist/
ignored/
*~$*
*.DS_Store
*.egg-info
*.swp
tags
MANIFEST

# Custom
/*.json
cache/*
!cache/.keep
vsac_wrangler/data/cache/*
!vsac_wrangler/data/cache/.keep
/env/*
!/env/.env.example
