# jq commented out because doesn't work on Windows and are also not needed.
# dependencies
fastapi
httpx
jinja2
mezmorize
oaklib
pandas
pandasql
pyarrow
PyMySQL[rsa]
python-multipart
requests
sanitize-filename
sqlalchemy
tabulate
typeguard
uvicorn[standard]
# jq
# psycopg2
psycopg2-binary
networkx

# Fixes bug: https://github.com/jhu-bids/TermHub/issues/627
PyCG==0.0.6
# Fixes bug
airium==0.2.6

# dev dependencies
# psutil  # for memory profiling
virtualenvwrapper

setuptools