body {
  margin: 0;
  font-family: sans-serif;
}

.toggle-collapse {
  cursor: pointer;
}

.concept-name-row {
  display: flex;
  gap: 3px;
}

.Tooltip {
  position: absolute;
  background: #333;
  padding: 0.5rem;
  color: white;
  z-index: 100;
  min-width: 150px;

  /*
  min-height: 2.5em;
  background: gray;
  color: white;
  pointer-events: none;
  border-radius: 6px;
  padding: 4px 6px;
  font-size: 24px;
  width: 150px;
   */
}

.MuiAutocomplete-option {
  line-height: 115% !important;
  padding-left: 40px !important;
  text-indent: -25px !important;
  word-wrap: break-word !important;
}
/*
.rdt_TableCell {
  text-align: center;
  align-content: center;
}
 */
.comparison-data-table .rdt_TableRow,
.comparison-data-table .rdt_TableCell {
  min-height: 0px;
}

.comparison-data-table .rdt_TableRow:hover {
  background-color: #aad4ff !important;
}

.comparison-data-table .rdt_TableHeadRow,
.csets-data-table .rdt_TableHeadRow {
  background-color: #e6e5e5;
  border: 2px solid #999;
  /*height: auto;
  height: 182px;
  color: red;
  borderBottomStyle: solid;
  padding: 0 0px 0 3px;
  */
  vertical-align: bottom;
  overflow: visible;
  text-overflow: unset;
  margin-top: auto;
}
.cset-column-header {
  width: 100%;
  display: flex;
  justify-content: center;
  /* white-space: nowrap;
  cursor: pointer;
  overflow: clip;
  text-overflow: unset;
  justify-content: left; /* fixes weird thing with rightmost col shifting left when rotated * /
  margin-right: auto;
  height: fit-content;
  transform: translate(50%,0px) rotate(-45deg);
  transform-origin: bottom left;
   */
}
.comparison-data-table .rdt_TableHeadRow > div + div div {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: auto;
}
/*
.rdt_TableHeader {
  align-content: baseline;
  align-self: baseline;
  alignment-baseline: bottom;
  alignment: bottom;
}
 */
.csets-data-table > .rdt_TableHeader {
  min-height: 0px;
}
.csets-data-table .rdt_Table {
  padding: 0px;
}

.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0 !important;
}

.MuiCard-root {
  margin: 3px;
}

.info-block {
  font-family: "Roboto", sans-serif;
  padding: 0 20px;
}

/* from floating-ui popover sandbox:
    https://codesandbox.io/s/distracted-swirles-jo1pvu?file=/src/styles.css:59-312
 */
.Popover {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 10, 20, 0.1);
  border: 1px solid #ddd;
  font-size: 90%;
  padding: 4px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  width: max-content;
  max-width: calc(100vw - 10px);
}

.help-card {
  opacity: 1;
  position: relative;
  padding: 5px;
  z-index: 100;
}
