{% extends 'layouts/main.html' %}
{% block title %}TermHub - FHIR Terminology{% endblock %}
{% block content %}

<h1>FHIR Terminology</h1>
<p class="dropdown">
  <b>FHIR API:</b> <a class="dropdown-toggle" data-toggle="dropdown">{{ fhir_api_urls[fhir_api_url_selection_id] }} <b class="caret"></b></a>
  <ul class="dropdown-menu">
  {% for i, url in fhir_api_urls.items() -%}
    <li><a>{{ i }}. {{ url }}</a></li>
  {% endfor %}
  </ul>
</p>

<p>
  This page is under development. Development notes can be viewed <a href="https://github.com/jhu-bids/TermHub/issues/73">on GitHub</a>.
</p>

<h2>CodeSystem</h2>
<pre>
  {{ code_systems }}
</pre>

<h2>ValueSet</h2>
{{ value_sets }}

<h2>ConceptMap</h2>
{{ concept_maps }}

{% endblock %}
